.body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 15px;
  justify-content: space-around;
  margin-top: 40%;
  margin-left: 20%;
  margin-right: 20%;
}

.word {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
  margin-bottom: 5em;
}

.answer {
  margin: auto;
  padding-left: 9em;
  padding-right: 9em;
  padding-top: 2em;
  padding-bottom: 2em;
  border: 0.1em solid red;
  border-radius: 25% 10%;
}

.answer:hover {
  border: 1px solid #faa600;
  background-color: #f9f9f9;
  color: #faa600;
  cursor: pointer;
}
